.bucket{
	display: flex;
	justify-content:flex-end;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url(../images/lounge_background.jpg);
	height:100vh;
	width:96vw;
	margin:0px;
	/*position: relative;*/
}
.bucket-img{height:85%;width:30%;margin:40px 120px 20px 0px;}

.container-fluid{
	background-image:url(../images/P3IJy9JMsiU_Full.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.btn-danger{
	width: 105px;
	margin-left: 10px;
}

#coaster{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 75vw;
	height: 50vh;
	margin-left:10%;
}
#member-div{
	height: 135px;
	width: 200px;
	margin-left: 190px;
	margin-top: 100px;
}
#join-div{
	height: 135px;
	width: 200px;
	margin-right: 100px;
	margin-top: 100px;
}
#member-btn{
	background-color: purple;
	color: silver;
	border-radius: 5px 30px 5px;
	border: 1px solid purple;
	height: 100px;
	width: 100px;
}
#member-btn:hover{
	background-color:#7B05C0;
	color:#FFFFFF;
	border:1.5px solid #7B05C0;	
}
#join-btn{
	background-color: green;
	color: silver;
	border-radius: 30px 5px 30px;
	border: 1px solid green;
	height: 90px;
	width: 90px;
}
#join-btn:hover{
	background-color:#36F941;
	color:#FFFFFF;
}
.w3-select{
	padding:9px 0;
	width:100%;
	border:none;
	border-bottom:1px solid #ccc;
}
.a-footer{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	background-color:#292727; /**/
	margin:0px 50px 0px 50px;
	border-radius:8px 8px 0px 0px;
}
.a-footer p{margin:3px;color:#000000;}

@media(max-width: 770px){
	#coaster{
		justify-content: space-around;
		height:25vh;
	}
	#member-div{
		height: 60px;
		width: 100px;
		margin: 30px 0px 0px 10px;
		padding: 5px 0px 0px 15px;
	}
	#member-btn{
		height: 80px;
		width: 70px;
	}
	#join-div{
		height: 60px;
		width: 100px;
		margin: 30px 0px 0px 10px;
		padding: 5px 0px 0px 15px;
	}
	#join-btn{
		height: 80px;
		width: 70px;
	}
	.container-fluid{background-position:center;}
	.bucket-img{width:42%;margin-right:70px;}
}
@media(max-width: 425px){
	.bucket{background-position:center;}
	.bucket-img{height:80%;width:63%;margin-right:20px;margin-top:60px;}
}